asgiref
attrs
Django==4.0
django-debug-toolbar==3.6.0
django-extensions
django-rest-framework==0.1.0
django-filter==22.1
Markdown
requests
djangorestframework==3.13.1
factory-boy
Faker
flake8
iniconfig
mccabe
packaging
pluggy
psycopg2-binary
py
pycodestyle
pyflakes
pyparsing
pytest
python-dateutil
pyt
six
sqlparse
tomli
whitenoise
gunicorn
